.coaches {
  max-width: 1366px;
  margin: 0 auto 20px;
  padding: 78px 103px 100px;
}

.coaches__title {
  margin: 0;
  margin-bottom: 52px;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  font-family: "Bebas Neue", "Arial", sans-serif;
  color: $dark-text;
  text-transform: uppercase;
}

.coaches__wrapper {
  position: relative;
  width: 1200px;
  margin-left: -20px;
  margin-right: -20px;
}

.coaches__list {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.coaches__item {
  position: relative;
  width: calc(100% / 4 - 40px);
  min-width: 260px;
  height: 294px;
  margin-left: 20px;
  margin-right: 20px;
}

.coaches__image {
  position: relative;
}

.coaches__image img {
  min-height: 294px;
}

.coaches__name {
  position: absolute;
  top: 84%;
  left: 50%;
  margin-bottom: -3%;
  margin-right: -50%;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 17px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: $white-text;
  transform: translate(-50%, -84%);
}

.coaches__popup {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  box-sizing: border-box;
  height: 294px;
  padding: 57px 29px 58px;
  background: rgba(16, 38, 84, 0.89);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  h3 {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 17px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    color: $white-text;
    text-align: center;
  }
}

.coaches__item:hover .coaches__popup,
.coaches__item:focus .coaches__popup {
  display: block;
}

.popup__lead {
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: #b6bdcc;
  text-align: center;
}

.popup__list {
  list-style: none;
}

.popup__item {
  position: relative;
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: $white-text;

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: -15px;
    width: 6px;
    height: 6px;
    background: $white-text;
    border-radius: 50%;
  }
}

// *******************стили для слайдера*******************/
.coaches__wrapper .slick-list {
  overflow: hidden;
}

.coaches__list .slick-slide {
  width: 260px;
  margin-left: 20px;
  margin-right: 20px;
}

.coaches__wrapper .slick-arrow {
  position: absolute;
  top: 50%;
  width: 18px;
  height: 32px;
  margin-top: -17px;
  font-size: 0;
  background: transparent;
  border: none;
  z-index: 10;
}

.coaches__wrapper .slick-arrow.slick-next {
  right: 1220px;
}

.coaches__wrapper .slick-arrow.slick-prev {
  left: 1220px;
}

@media (max-width: 1350px) {
  .coaches__wrapper {
    max-width: 860px;
    margin: 0 auto;
  }

  .coaches__wrapper .slick-arrow.slick-next {
    right: 100%;
  }

  .coaches__wrapper .slick-arrow.slick-prev {
    left: 102%;
  }
}

@media (max-width: 1199px) {
  .coaches {
    padding-top: 59px;
    padding-bottom: 80px;
  }

  .coaches__wrapper {
    width: 566px;
    margin: 0 auto;
  }

  .coaches__title {
    margin-bottom: 41px;
    font-size: 42px;
    line-height: 42px;
    text-align: center;
  }

  .coaches__item {
    width: 268px;
    min-width: 268px;
    height: 294px;
    margin-left: 0;
    margin-right: 30px;
  }

  .coaches__item img {
    width: 100%;
    height: 100%;
  }

  .coaches__name {
    top: 81%;
  }

  // *******************стили для слайдера*******************/
  .coaches__wrapper .slick-arrow.slick-next {
    right: 630px;
  }

  .coaches__wrapper .slick-arrow.slick-prev {
    left: 603px;
  }
}

@media (max-width: 767px) {
  .coaches {
    max-width: 320px;
    padding: 30px 45px 50px 45px;
  }

  .coaches__wrapper {
    width: 226px;
  }

  .coaches__title {
    font-size: 32px;
    line-height: 32px;
  }

  .coaches__item {
    width: 226px;
    min-width: 226px;
    height: 274px;
  }

  .coaches__popup {
    padding: 48px 9px 58px;
  }

  // *******************стили для слайдера*******************/
  .coaches__wrapper .slick-arrow.slick-next {
    right: 246px;
    width: 10px;
    height: 21px;
    margin-top: -10px;
  }

  .coaches__wrapper .slick-arrow.slick-prev {
    left: 246px;
    width: 10px;
    height: 21px;
    margin-top: -10px;
  }
}

.no-js {
  display: block;
}
