.equipment {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 206px;
  padding: 120px 20px 30px;
}

.equipment__wrapper {
  width: calc(100% / 2.63);
  margin-right: 85px;
  padding-left: 60px;
  padding-top: 47px;
}

.equipment__image {
  position: relative;
  width: calc(100% / 1.65);
  min-width: 568px;
  height: 401px;
  background-image: url("../img/equipment-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.equipment__video {
  content: "";
  position: absolute;
  top: 72%;
  left: -10%;
  width: 364px;
  height: 228px;
  background-image: url("../img/video-preview.png");

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 364px;
    height: 228px;
    background-color: rgba(20, 54, 122, 0.5);
  }
}

.equipment__button {
  content: "";
  position: absolute;
  top: 28%;
  left: 37%;
  width: 100px;
  height: 100px;
  background: url("../img/icon-play.svg");
  border: none;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    background: url("../img/icon-play-hover.svg");
  }

  &:active {
    opacity: 0.8;
  }
}

.equipment__header {
  margin: 0;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  font-family: "Bebas Neue", "Arial", sans-serif;
  color: $dark-text;
}

.equipment__desc {
  margin: 0;
  margin-bottom: 38px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: $dark-text;
}

.equipment__text {
  margin: 0;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: $dark-text;
}

@media (max-width: 1199px) {
  .equipment {
    flex-direction: column;
    margin-bottom: 92px;
    padding: 98px 45px 90px;
  }

  .equipment__wrapper {
    width: 100%;
    margin-right: 0;
    margin-bottom: 32px;
    padding-left: 0;
    padding-top: 0;
  }

  .equipment__header {
    margin-bottom: 10px;
    font-size: 42px;
    line-height: 42px;
    text-align: center;
  }

  .equipment__desc {
    text-align: center;
    margin-bottom: 35px;
  }

  .equipment__text {
    padding-left: 88px;
    padding-right: 88px;
    text-align: center;
  }

  .equipment__text--hide {
    display: none;
  }

  .equipment__image {
    width: 100%;
    height: 345px;
    background-image: url("../img/equipment-tablet.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .equipment__video {
    content: "";
    position: absolute;
    top: 76%;
    left: 50%;
    width: 266px;
    height: 167px;
    background-image: url("../img/video-preview-tablet.png");
    transform: translate(-50%, 0);

    &::before {
      width: 266px;
      height: 167px;
    }
  }

  .equipment__button {
    top: 28%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
    width: 73px;
    height: 73px;
  }
}

@media (max-width: 767px) {
  .equipment {
    margin-bottom: 207px;
    padding: 69px 0 30px;
  }

  .equipment__wrapper {
    width: 71%;
    margin: 0 auto;
    margin-bottom: 22px;
    text-align: left;
  }

  .equipment__header {
    margin-bottom: 6px;
    font-size: 32px;
    line-height: 32px;
    text-align: left;
  }

  .equipment__desc {
    margin-bottom: 25px;
    text-align: left;
  }

  .equipment__text {
    padding: 0;
    padding-right: 42px;
    text-align: left;
  }

  .equipment__image {
    width: 71%;
    min-width: 320px;
    height: 313px;
    margin: 0 auto;
    margin-bottom: 40px;
    background-image: url("../img/equipment-mobile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .equipment__video {
    position: relative;
    top: 353px;
    left: 0%;
    width: 100%;
    min-width: 320px;
    height: 167px;
    background-image: url("../img/video-preview-mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: translate(0, 0);

    &::before {
      width: 100%;
      height: 167px;
    }
  }
}

@media (max-width: 320px) {
  .equipment__wrapper {
    width: 91%;
  }
}
