.tickets {
  background-color: #f8f9fc;
  overflow: hidden;
  z-index: 1;
}

.tickets__wrapper {
  max-width: 1200px;
  margin: 0 auto 56px;
  padding: 118px 20px 44px;

  &::after {
    content: "";
    position: absolute;
    top: 32.63%;
    right: 0;
    width: 287px;
    height: 494px;
    background: no-repeat url("../img/bumper-desktop.png");
    background-position: center;
  }
}

.tickets__title {
  margin: 0;
  margin-bottom: 35px;
  font-style: normal;
  font-weight: 700;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  font-family: "Bebas Neue", "Arial", sans-serif;
  color: $dark-text;
  text-align: center;
}

.tickets__choose {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 341px;
  margin: 0 auto;
  margin-bottom: 51px;
  padding: 0;
  list-style: none;

  &::after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 0;
    width: 341px;
    height: 2px;
    background: rgba(16, 38, 84, 0.5);
  }
}

.tickets__button {
  position: relative;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: rgba(16, 38, 84, 0.5);
  background: none;
  border: none;
  cursor: pointer;
  outline: 0;

  &:hover,
  &:focus {
    color: $dark-text;
  }
}

.tickets__button--active {
  color: $dark-text;

  &::after {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #d10a42;
    z-index: 10;
  }
}

.tickets__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  &:first-child {
    margin-left: 0;
  }

  &:nth-child(4n) {
    margin-left: 0;
  }
}

.tickets__item {
  position: relative;
  box-sizing: border-box;
  width: calc(100% / 3 - 27px);
  margin-left: 20px;
  margin-right: 40px;
  margin-bottom: 20px;
  padding-top: 55px;
  padding-bottom: 60px;
  background: #ffffff;
  border: 7px solid #ffffff;
  z-index: 1;

  &:hover {
    border: 7px solid transparent;
    border-image: linear-gradient(#d10a42, #00359f);
    border-image-slice: 1;
  }

  &:nth-of-type(3n) {
    margin-right: 0;
  }

  &:nth-of-type(1n) {
    margin-left: 0;
  }

  &:first-of-type {
    margin-left: 0;
  }
}

.tickets__item h3 {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 29px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: $dark-text;
  text-align: center;
}

.tickets__quantity {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: #495a7d;
  text-align: center;
}

.tickets__back {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 150px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: #e8e8e8;
  opacity: 0.48;
  text-align: center;
}

.tickets__price {
  position: absolute;
  top: 42.5%;
  left: 27%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tickets__price p {
  margin: 0;
  margin-right: 10px;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: #103aae;
  text-align: center;
}

.tickets__price span {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 80px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: $dark-text;
}

.tickets__buy {
  display: block;
  width: 207px;
  height: 66px;
  margin: 0 auto;
  padding: 25px 43px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  letter-spacing: 0.05em;
  color: $dark-text;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid $dark-text;

  &:active {
    opacity: 0.8;
  }
}

.tickets__item:hover .tickets__buy {
  padding: 27px 45px;
  color: $white-text;
  background: linear-gradient(111.72deg, #ed0233 17.6%, #003eb7 95.31%);
  border: none;
}

@media (max-width: 1199px) {
  .tickets__wrapper {
    margin-bottom: 18px;
    padding-top: 99px;
    padding-bottom: 41px;

    &::after {
      top: 40.38%;
      right: 3px;
      width: 342px;
      height: 372px;
      background: url("../img/bumper-tablet.png");
    }
  }

  .tickets__list {
    flex-direction: column;
  }

  .tickets__item {
    align-self: center;
    width: 61%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 39px;
    padding-top: 57px;

    &:nth-of-type(3n) {
      margin-left: 20px;
      margin-right: 20px;
    }

    &:nth-of-type(n) {
      margin-left: 20px;
      margin-right: 20px;
    }

    &:first-of-type {
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  .tickets__title {
    margin-bottom: 30px;
    font-size: 42px;
    line-height: 42px;
  }

  .tickets__choose {
    width: 332px;
    margin-bottom: 56px;
  }

  .tickets__button {
    font-size: 18px;
    line-height: 27px;
  }

  .tickets__button--active {
    &::after {
      top: 38px;
    }
  }

  .tickets__price {
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 767px) {
  .tickets__title {
    margin-bottom: 22px;
    font-size: 32px;
    line-height: 32px;
  }

  .tickets__choose {
    width: 100%;
    min-width: 289px;
    max-width: 332px;
    margin-bottom: 48px;

    &::after {
      bottom: -14px;
      width: 100%;
    }
  }

  .tickets__wrapper {
    min-width: 320px;
    margin-bottom: 10px;
    padding: 69px 15px 25px;

    &::after {
      display: none;
    }
  }

  .tickets__button {
    font-size: 16px;
    line-height: 24px;
  }

  .tickets__button--active {
    &::after {
      top: 36px;
    }
  }

  .tickets__item h3 {
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 24px;
  }

  .tickets__item {
    min-width: 290px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 35px;
    padding-top: 44px;
    padding-bottom: 47px;

    &:nth-of-type(n) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .tickets__quantity {
    margin-bottom: 12px;
  }

  .tickets__back {
    margin-bottom: 23px;
    font-size: 80px;
    line-height: 120px;
  }

  .tickets__price p {
    font-size: 47px;
    line-height: 72px;
  }

  .tickets__price {
    top: 41%;
    left: 52%;
  }
}

.tickets__item--hide {
  display: none;
}

.tickets__item--show {
  display: block;
}
